input,
button {
    margin: 15px 15px 0 15px;
}
table th,
table td {
    width: 150px;
    border: 1px solid gray;
}
tr.selected {
    background: yellow;
}
tr.like {
    background: pink;
}
#main,
footer {
    margin-top: 15px;
}